:root {
    --brand-title: #10b981;
    --text1: white;
    --text2: #d5d4d8;
    --brand-button: #10b981;
    --border: #2f3e53;
    --password-bg: #273549;
    --password-text: #55ff91;
    --bg: #1f2937;
}
