:root {
    --brand-title: #10b981;
    --text1: #2b283a;
    --text2: #6b7280;
    --brand-button: #10b981;
    --border: #d5d4d8;
    --password-bg: #273549;
    --password-text: #5def92;
    --bg: #ecfdf5;
}
